

*{
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}



html, body {
  height:100%;
  background-color: rgb(204, 204, 204);
}

#root {
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  height: 100%
}


.welcome {
  height: 100% ;
}

.rob {
  
    background-size: cover;
    background-color: #fafafa;
    background-image: url(rob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 935px;
    overflow: hidden;
    z-index: 1;
  
}

.good {
  font-size: 2rem;
  margin-bottom: 20px;
  margin: 1%;
}



.owner-container {
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.52);

}

.dog-tab {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin: 1%;
}

.dog-tab-holder {
  text-align: center;
}

.swipee {
  max-width: 600px;
  width: 100%;
  max-height: 600px;
}


.owner-name {
  font-size: 2rem;
  margin: 2vh;
  padding-bottom: 3vh;
  border-width:5px;  
  border-bottom-style: groove;

}

.age {
  float: right;
  font-size: 2rem;
  padding-bottom: 3vh;
}

.city-state {
  font-size: medium;
  margin: 10px;
}

.prompt {
  font-size: large;
  margin-left: 4% ;
  margin-right: 4% ;
  margin-top: 7%;
}

.answer {
  font-size: xx-large;
  margin-left: 7%;
  color: rgb(255, 145, 0);
  font-weight: bolder;
}

#dog-card {
  max-width: 600px;
  height: max-content;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.52);
  margin-right: 10%;
  margin: 3%;
}

.license {
  display: flex;
   flex-direction: column;
   align-items: flex-end;
   max-width: 300px;
}

#dog-image {
  height: 250px;
  width: 250px;
}

.dog-traits {
  font-weight: bold;
  margin: 3%
}

.trait-name {
  color: orange
}


/* menu drawer */

.drawer {
  background-color: white;
  min-width: 300px;
  height: 90%;
  position: absolute;
  z-index: 2;
  box-shadow: 5px 5px grey;
  border-radius: 10px;
}

.menu-option {
  font-size: xx-large;
  padding: 5%;
  cursor: pointer;
}

.menu-option:hover  {
  background-color: rgb(219, 219, 219);
  color: orange;
  border-radius: 10px;
  margin-left: 20px;
  
}

/* Edit form */
.form-paper {
  max-width: 1000px;
  padding: 2%;
  margin: 2%;
}

.match-card {
  height: 100%;
  width: 100%;
  margin: 5%;
  align-content: center;
}

.match-details{
  color: orange;
  font-size: xx-large;
  text-align: center;
  height: 30px;
  cursor: pointer;
}

.match-image {
  height: 13vh;
  width: 13vh;
  border-radius: 500px;
  cursor: pointer;
}

/* .match-options{
  height: 13vh;
  width: 16vh;
  z-index: 2;
  position: absolute;
}

.option-button{
  height: 7vh;
  width: 100%;
  font-size: large;
  font-weight: bolder;
}


.chat-hub {
  margin: 5vh;
  background-color: white;
  border-radius: 5vh;
  box-shadow: 2px 2px grey;
  align-items: center;
}

.chat-item{
  max-width: 600px;
  margin: 5vh;
}


.chat-image{
  height: 13vh;
  width: 13vh;
  border-radius: 500px;
}

.message-preview{
  color: grey;
  font-size: 2vh;
  margin-top: 1vh;
  margin-left: 2vh;

}

.new-message-paper{
padding: 3vh 7vh 3vh 7vh;
} */

.new-message-box{
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  resize: none;
}

.textarea-container {
  position: relative;
}
.textarea-container textarea {
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  bottom: .6vh;
  right: .5vh;
}

.message-display {
  margin-top: 5vh;
  min-height: 50vh;
  outline-style: outset;
  outline-color: grey;
}

.user-message{
  background-color: blue;
}

.other-message{
  background-color: red;
}