

*{
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}



html, body {
  height:100%;
  width:100%;
  background-color: rgb(204, 204, 204);
}

#root {
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  height: 100%
}


.welcome {
  height: 100% ;
}

.rob {
  
    background-size: cover;
    background-color: #fafafa;
    background-image: url(rob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 935px;
    overflow: hidden;
    z-index: 1;
  
}

.good {
  font-size: 2rem;
  margin-bottom: 20px;
  margin: 1%;
}



.owner-container {
  max-width: 600px;
  width: 600px;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.52);

}



.dog-tab {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin: 1%;
  cursor: pointer;
}

.dog-tab-holder {
  text-align: center;
}

.swipee {
  max-width: 600px;
  width: 100%;
  max-height: 600px;
}


.name {
  font-size: 2rem;
  margin: 2vh;
  padding-bottom: 3vh;
  border-width:5px;  
  border-bottom-style: groove;

}

.age {
  float: right;
  font-size: 2rem;
  padding-bottom: 3vh;
}

.city-state {
  font-size: medium;
  margin: 10px;
}

.prompt {
  font-size: large;
  margin-left: 4% ;
  margin-right: 4% ;
  margin-top: 7%;
}

.answer {
  font-size: xx-large;
  margin-left: 7%;
  color: rgb(255, 145, 0);
  font-weight: bolder;
}

#dog-card {
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.52);
  height: 100%;
  padding: 2vh;
  background-color: white;
}

.license {
  display: flex;
   flex-direction: column;
   align-items: flex-end;
   max-width: 300px;
}

#dog-image {
  max-width: 600px;
  width: 100%;
  max-height: 600px;
}

.dog-traits {
  font-weight: bold;
  margin: 3%
}

.trait-name {
  color: orange
}


/* menu drawer */

.drawer {
  background-color: rgb(51, 51, 51);
  height: fit-content;
  width: 100%;
}



.menu-option {
  color: white;
  cursor: pointer;
  padding: 2vh;
  text-align: center;
  margin: 1vh;
}

@media (max-width: 600px) {
  .menu-option {
    color: white;
    cursor: pointer;
    padding: 1vh;
    text-align: center;
    margin: 1vh;
  }
}

.menu-option:hover  {
  color: orange; 
}

/* Edit form */
.form-paper {
  max-width: 1000px;
  padding: 2%;
  margin: 2%;
}

.match-card {
  height: 100%;
  width: 100%;
  margin: 5%;
  align-content: center;
}

.match-details{
  color: orange;
  font-size: xx-large;
  text-align: center;
  height: 30px;
  cursor: pointer;
}

.match-image {
  height: 13vh;
  width: 13vh;
  border-radius: 500px;
  cursor: pointer;
}

.new-message-box{
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  resize: none;
}

.textarea-container {
  position: relative;
}
.textarea-container textarea {
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  bottom: .6vh;
  right: .5vh;
}

.message-display {
  width: 600px;
  min-height: 50vh;
  max-height: 50vh;
  outline-style: outset;
  outline-color: grey;
  padding: 2vh;
  overflow-y:auto
}

.user-message{
  font-size: 1.5rem;
  padding: 1vh;
  background-color: orange;
  border-radius: 1vh;
  width: fit-content;
  max-width: 30%;
  text-align: center;
  color: white;
  margin: .2vh;
  float: right;
  margin-right: 2vh;
}

.other-message{
  font-size: 1.5rem;
  padding: 1vh;
  background-color: rgb(170, 170, 170);
  border-radius: 1vh;
  width: fit-content;
  max-width: 22vh;
  text-align: center;
  color: white;
  margin: .2vh;
  margin-left: 3vh;

}

@media (max-width: 500px) {
  .user-message{
    font-size: 1.5rem;
    padding: 1vh;
    background-color: orange;
    border-radius: 1vh;
    width: fit-content;
    max-width: 30%;
    text-align: center;
    color: white;
    margin: .2vh;
    float: right;
    margin-right: 2vh;
  }
  
  .other-message{
    font-size: 1.5rem;
    padding: 1vh;
    background-color: rgb(170, 170, 170);
    border-radius: 1vh;
    width: fit-content;
    max-width: 22vh;
    text-align: center;
    color: white;
    margin: .2vh;
    margin-left: 4vh;
  
  }

}