

*{
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}



html, body {
  height:100%;
}

#root {
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  height: 100%
}


.welcome {
  height: 100% ;
}

.rob {
  
    background-size: cover;
    background-color: #fafafa;
    background-image: url(rob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 935px;
    overflow: hidden;
    z-index: -1;
  
}

.good {
  font-size: 2rem;
  margin-bottom: 20px;
}

.swipee{
  max-width: 600px;
  width: 100%;
}

.swipe-text {
  /* font-weight: bolder; */
  font-size: 2rem;
  max-width: 600px;
  
}